
.topMargin {
  margin-top: 95px;
}

.midPageMargin {
  margin-top: 120px;
}

.row2 {
  font-size:14px;
  color: black;
 
}

.leftRow {
  width: 80%;
  background-color: rgb(205, 209, 207);
  float: left;
  height: 60px;
  margin-top: 10px;
  padding-left: 15px;
}

.rightRow {
  height:60px;
  background-color: rgb(205, 209, 207);
  margin-top: 10px;
  padding-left: 15px;
  width:20%;
  padding-top: 15px;
  float: right;
}


.radioSpace{
width: 100%;
height: 15px;
}

.radioControl {
  margin-top: 20px;
  font-size: 34px;
  

}

.activeClass {
  font-weight: bold;
  color: green;
}

.notActiveClass {
  font-weight: bold;
  color: red;
}

.navy {
  color:navy;
}


.divRow {
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:lavender;
}

.gop {
  color:red;
}

.party {
  color: rgb(182, 10, 130);
}

.newSearch{
  height: 5px;
  font-size: 46px;
  color: white;
  width: 130px;
 margin-top: -15px;
  margin-right: auto;
  margin-left: auto;
}

.mapVoters{
  height: 25px;
  background-color:crimson;
  color: white;
  width: 100px;
  border-radius: 10px;
  margin-left: 10%;
  
}


.smallWidth {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.App {
  text-align: center;
}

.iconLg {
  font-size: 36px;
  color: cornsilk;
}

.iconLgBlack {
  font-size: 36px;
  color: black;
}


.iconItem {
  margin-right: 10px;
  color: white;
}

.bg_navy {
  background-color: navy;
  color: aliceblue;
}


.navContainer {
  position: sticky;
  top: 0;
  height: 80px;
}

.no-sidebar {
  width: 250px;
  height: 100vh;
  background-color: darkslategrey;
  left: -100%;
  position: fixed;
  top:80px;
  transition: 850ms;
  padding-left: 20px;
  padding-top: 20px;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: darkslategrey;
  position: fixed;
  top:80px;
  left: 0;
  transition: 850ms;
  padding-left: 20px;
  padding-top: 20px;
}

.sideBarItems  > li {
  color:white;
 
  text-align: left;
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  
}

.closeDiv {
  text-align: right;
  width:100%;
  display: block;
  
}
